<h2>All stock</h2>

<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Stock</th>
    <th>Action</th>
  </tr>
<% for book in @books %>
  <tr>
    <td><%= book.author %></td>
    <td><%= book.title %></td>
    <td><%= book.stock_level %></td>
    <td><a href="/books/<%= book.id %>">View book</a></td>
  </tr>
<% end %>

</table>
