<h2>Add a source language</h2>
<form method="post" action="/source_language">

<label for="language"> Language </label>
<input id="language" type="text" name="language" />

<input type="submit" value="Add language" />

</form>
