<% for book in @books %>
<p> Author: <%= book.author %> </p>
<p> Title: <%= book.title %> </p>
<p> Stock level: <%= book.stock_level %> </p>
<p><a href="/books/<%= book.id %>">View more</a></p>
<% end %>
