<!DOCTYPE html>
<html>
<head>
  <title>Bookshop</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/books">All Stock</a>
    </li>
    <li>
      <a href="/books/new">Add a book</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
