<!DOCTYPE html>
<html>
<head>
  <title>Bookshop</title>
  <link href="/styles/stylesheet.css" rel="stylesheet" type="text/css">

</head>
<body>
  <header>
    <h1>Marta's Bookshop</h1>
  </header>
<nav>
  <ul>
    <li>
      <a href="/welcome">Low Stock Books</a>
    </li>
    <li>
      <a href="/books">All Stock</a>
    </li>
    <li>
      <a href="/books/new">Add a book</a>
    </li>
  </ul>
</nav>
<main>
  <%= yield %>
</main>
</body>
</html>
