<!DOCTYPE html>
<html>
<head>
  <title>Bookshop</title>
  <style type="text/css">
  .cover-image {
    width: 100px;
    height: 150px;
  }
  </style>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/books">All Stock</a>
    </li>
    <li>
      <a href="/books/new">Add a book</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
