<form method="post" action="/books">

  <label for="author-select"> Select author: </label>
    <select id="author-select" type="text" name="author_id">
      <% for author in @authors %>
        <option value="<%= author.id %>"> <%= author.full_name %></option>
      <% end %>
 </select>

  <label for="title"> Title: </label>
  <input id="title" type="text" name="title" />


  <label for="genre-select"> Select genre: </label>
    <select id="genre-select" type="text" name="genre_id">
      <% for genre in @genres %>
        <option value="<%= genre.id %>"> <%= genre.type %></option>
      <% end %>
 </select>

  <label for="language"> Source language: </label>
  <input id="language" type="text" name="source_language"/>

  <label for="quantity"> Set quantity: </label>
  <input id="quantity" type="number" name="quantity" />

  <label for="buy-price"> Buy price: </label>
  <input id="buy-price" type="number" name="buy_price" />

  <label for="sell-price"> Sell price: </label>
  <input id="sell-price" type="number" name="sell_price" />

  <label for="cover-image"> Cover image: </label>
  <input id="cover-image" type="upload" name="cover_image" />

  <input type="submit" value="Add a book"/>
  </form>

<p>If your author is not on the list</p>
<p><a href="/books/new_author">Add an author</a></p>

<p>If your genre is not on the list</p>
<p><a href="/books/new_genre">Add genre</a></p>
