<form method="post" action="/books">

<label for="first-name"> First name: </label>
<input id="first-name" type="text" name="first_name" />

<label for="last-name"> Last name: </label>
<input id="last-name" type="text" name="last_name"/>

<input type="submit" value="Add an author" />

</form>
