/*default document style*/
html {
  font-family: sans-serif;
}

/*navigation*/
nav {
  border-bottom: 1px solid grey;
}


nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  display: inline-block;
  background-color: pink;
  padding: 10px;
  text-decoration: none;
  border-radius: 14px;
}

nav a:hover{
  background-color: black;
  color: white;
}

/*main*/
body {
  padding: 0 20px 0 20px;
}

/*footer*/
footer {
  border-top: 1px solid grey;
}


footer ul {
  padding: 0;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer a {
  display: inline-block;
  background-color: pink;
  padding: 10px;
  text-decoration: none;
  border-radius: 14px;
}

footer a:hover{
  background-color: black;
  color: white;
}

/*cover image sizing*/
.cover-image {
  width: 100px;
  height: 150px;
}

.big-cover-image {
  width: 250px;
}

/*forms*/
label, select, input {
  display: block;
}
label {
  margin-bottom: 5px;
  margin-top: 5px;
}
select, input {
  margin-bottom: 15px;
}

/*tables*/
th, td {
  padding: 10px;
}
